edge-sprint3.json
[
    {
        "id": "50e482e0ae7ab4d4",
        "type": "tab",
        "label": "Sprint3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "09faf5f8400b4893",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "417dc2dab101b7f6",
        "type": "ui-base",
        "name": "CHALLENGE SPRINT 3 (EDGE)",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "102960c8adc5c040",
        "type": "ui-theme",
        "name": "Dark Theme",
        "colors": {
            "surface": "#6b6b6b",
            "primary": "#35b2e3",
            "bgPage": "#303030",
            "groupBg": "#141414",
            "groupOutline": "#424242"
        },
        "sizes": {
            "density": "comfortable",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "5fd91d4b3fb8a785",
        "type": "ui-page",
        "name": "Radar ESP32",
        "ui": "417dc2dab101b7f6",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "102960c8adc5c040",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "5b3509d8546bb21a",
        "type": "ui-group",
        "name": "Tempo",
        "page": "5fd91d4b3fb8a785",
        "width": "12",
        "height": "8",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "38ee3a5f6ac9c8af",
        "type": "ui-group",
        "name": "Velocidade (m/s)",
        "page": "5fd91d4b3fb8a785",
        "width": "6",
        "height": "12",
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "318e1f861f2832f0",
        "type": "ui-group",
        "name": "Velocidade (km/h)",
        "page": "5fd91d4b3fb8a785",
        "width": "6",
        "height": "12",
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "84e3fe60756a8d6e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e4e9e864f2820ebe",
        "type": "debug",
        "z": "50e482e0ae7ab4d4",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 40,
        "wires": []
    },
    {
        "id": "1c8e96e377e1f162",
        "type": "mqtt in",
        "z": "50e482e0ae7ab4d4",
        "name": "",
        "topic": "challenge/radar/intervalo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "09faf5f8400b4893",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "e4e9e864f2820ebe",
                "ccdda3c3b6f6ba7c",
                "023fa8b3b32d9a86"
            ]
        ]
    },
    {
        "id": "759a2740cdadd035",
        "type": "mqtt in",
        "z": "50e482e0ae7ab4d4",
        "name": "",
        "topic": "challenge/radar/velocidadeMps",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "09faf5f8400b4893",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "e4e9e864f2820ebe",
                "645c0e8a9c018c60",
                "7a0a125c75c9f92e",
                "3c757b15e99cb1e3"
            ]
        ]
    },
    {
        "id": "137127892927b36b",
        "type": "mqtt in",
        "z": "50e482e0ae7ab4d4",
        "name": "",
        "topic": "challenge/radar/velocidadeKph",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "09faf5f8400b4893",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "e4e9e864f2820ebe",
                "8de90893221dca56",
                "ef29a294ac655d6f",
                "5f038aa27a27f607"
            ]
        ]
    },
    {
        "id": "ccdda3c3b6f6ba7c",
        "type": "ui-text",
        "z": "50e482e0ae7ab4d4",
        "group": "5b3509d8546bb21a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Intervalo de Tempo (s): ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "645c0e8a9c018c60",
        "type": "ui-text",
        "z": "50e482e0ae7ab4d4",
        "group": "38ee3a5f6ac9c8af",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Velocidade (m/s): ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "8de90893221dca56",
        "type": "ui-text",
        "z": "50e482e0ae7ab4d4",
        "group": "318e1f861f2832f0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Velocidade (km/h):   ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "7a0a125c75c9f92e",
        "type": "ui-gauge",
        "z": "50e482e0ae7ab4d4",
        "name": "",
        "group": "38ee3a5f6ac9c8af",
        "order": 2,
        "width": "6",
        "height": "5",
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Velocidade (m/s)",
        "units": "m/s",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "33.3",
                "color": "#ffc800"
            },
            {
                "from": "66.6",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": "4",
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "ef29a294ac655d6f",
        "type": "ui-gauge",
        "z": "50e482e0ae7ab4d4",
        "name": "",
        "group": "318e1f861f2832f0",
        "order": 2,
        "width": "6",
        "height": "5",
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Velocidade (km/h)",
        "units": "km/h",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "116.6",
                "color": "#ffc800"
            },
            {
                "from": "233.3",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "350",
        "sizeThickness": 16,
        "sizeGap": "4",
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 590,
        "y": 420,
        "wires": []
    },
    {
        "id": "023fa8b3b32d9a86",
        "type": "ui-chart",
        "z": "50e482e0ae7ab4d4",
        "group": "5b3509d8546bb21a",
        "name": "",
        "label": "Análise Intervalo de Tempo (s)",
        "order": 2,
        "chartType": "line",
        "category": "Intervalo de Tempo (s)",
        "categoryType": "str",
        "xAxisLabel": "Medições",
        "xAxisProperty": "",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "yAxisLabel": "Intervalo de Tempo (s)",
        "yAxisProperty": "",
        "ymin": "0",
        "ymax": "30",
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "50",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "12",
        "height": "6",
        "className": "",
        "x": 630,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3c757b15e99cb1e3",
        "type": "ui-chart",
        "z": "50e482e0ae7ab4d4",
        "group": "38ee3a5f6ac9c8af",
        "name": "",
        "label": "Análise Velocidade (m/s)",
        "order": 3,
        "chartType": "line",
        "category": "Velocidade (m/s)",
        "categoryType": "str",
        "xAxisLabel": "Medições",
        "xAxisProperty": "",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "yAxisLabel": "Velocidade (m/s)",
        "yAxisProperty": "",
        "ymin": "0",
        "ymax": "100",
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "50",
        "colors": [
            "#00ff1e",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "x": 610,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "5f038aa27a27f607",
        "type": "ui-chart",
        "z": "50e482e0ae7ab4d4",
        "group": "318e1f861f2832f0",
        "name": "",
        "label": "Análise Velocidade (km/h)",
        "order": 3,
        "chartType": "line",
        "category": "Velocidade (km/h)",
        "categoryType": "str",
        "xAxisLabel": "Medições",
        "xAxisProperty": "",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "yAxisLabel": "Velocidade (km/h)",
        "yAxisProperty": "",
        "ymin": "0",
        "ymax": "350",
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "50",
        "colors": [
            "#d400ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "x": 610,
        "y": 460,
        "wires": [
            []
        ]
    }
]